<div class="left">
    <img src="@Url.Content("~/Images/Logo.png")" alt="EP Logo" />
</div>
<div class="right">
    <img src="@Url.Content("~/Images/AdminInfo.png")" alt="EP Logo" />
</div>
<div class="center">
    <div class="quickSearch">
        <div class="title">样板编号/大货编号</div>
        <div class="quickSearchBox">
            <input type="text" />
            <input type="image" src="@Url.Content("~/Images/submit.png")" />
        </div>
    </div>
    <div class="nav">
        <ul class="nav nav-pills">
            <li><span class="active">上装</span></li>
            <li><span>下装</span></li>
            <li><span>毛衫</span></li>
            <li><span>添加款式</span></li>
            <li><span>使用统计</span></li>
            <li><span>编辑记录</span></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
